extends layout 
block content 
    h1 #{title}
    form(method='POST' action='')
        div.form-group
        input#title.form-control(type='text', placeholder='Password' name='password' required='true' value='password')

        button.btn.btn-primary(type='submit') Submit
